.DS_Store
node_modules
/dist
/wap
/wap/
/wap.zip

/tests/e2e/videos/
/tests/e2e/screenshots/
webh5
./dist.tar.gz
./webh5.tar.gz

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
