.quota {
  &-collapse {
    &-title {
      color: $text-color;
      font-size: rem(32);
      line-height: rem(38);

      i {
        color: $text-color-gray;
        font-size: rem(36);
        display: inline-block;
        vertical-align: top;
        margin-left: rem(18);
        height: rem(38);
      }

      &::before {
        float: left;
        color: $success-color;
        font-size: rem(26);
        margin-right: rem(10);
        padding-top: rem(2);
      }
    }

    .van-collapse-item__title {
      height: rem(78);
      background: linear-gradient(90deg, #e5f4f0 0%, rgba(255, 255,255) 100%);
      padding-right: rem(30);
      padding-left: rem(30);
    }

    .van-cell__right-icon {
      height: rem(38);
      line-height: rem(38);

      &::before {
        content: '';
        display: inline-block;
        vertical-align: rem(4);
        border-style: solid;
        border-width: rem(14) rem(10) 0;
        border-color: $success-color transparent;
        transform: rotate(0deg);
      }
    }

    .van-collapse-item__title--expanded .van-cell__right-icon::before {
      transform: rotate(180deg);
    }

    .van-collapse-item__content {
      padding: 0;
    }
  }
}

.van-collapse .van-cell{
  position:sticky;
  top: 0;
  z-index: 10;
}
.van-popover {
  z-index: 80 !important;
}
