* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-all;
}

html,
body {
  margin: 0;
  font: normal 16px/1.5 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', \5fae\8f6f\96c5\9ed1, tahoma, simsun, \5b8b\4f53;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  background-color: #f0f5f9;
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

i,
em,
address {
  font-style: normal;
}

textarea {
  font-family: 'Microsoft Yahei';
}

button {
  cursor: pointer;
}

img {
  display: block;
  border: none;
  outline: none;
  max-width: 100%;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 100%;
}

a {
  text-decoration: none;
}

i,
em {
  font-style: normal;
}

button {
  cursor: pointer;
}

table {
  text-indent: inherit;
  border-collapse: collapse;
}

:focus {
  outline: none;
}

.amap-logo {
  display: none !important;
}

.amap-copyright {
  display: none !important;
}

[class*='lvfont-'] {
  font-family: 'lvfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt20 {
  margin-top: rem(20);
}

.lv-description.el-descriptions {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px 20px 8px;
}

.lv-description.el-descriptions:last-child {
  margin-bottom: 10px;
}

.lv-description .el-descriptions__body {
  background: transparent;
}

.el-table__body {
  width: 100%;
  table-layout: fixed !important;
}

.quota-collapse-title {
  font-weight: 500;
}

.quota-collapse-title span {
  font-size: rem(20);
  font-weight: 400;
  color: rgba(51, 51, 51, 0.4);
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}
