$margin: rem(15);

// 站点颜色变量
$text-color: #333333;
$text-color-gray: #666666;
$text-color-black: #000000;
$text-color-light: #999999;
$text-color-lighter: #cccccc;
$text-color-white: #ffffff;

$primary-color: #425bb5;

$success-color: #47957f;
$success-color-light: #30c5a9;

$warning-color: #f1af77;

$danger-color: #d84b42;
